<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
     
    <!-- header started hadi javadi  -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border border-sm border-danger">
          <div class="container">
            <a class="navbar-brand" href="#">logo</a>
            <button
              class="navbar-toggler d-lg-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavId"
              aria-controls="collapsibleNavId"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#" aria-current="page">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">photos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Songs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Texts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Notifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Search</a>
                </li>
  
                <!-- <form class="d-flex my-2 my-lg-0">
                                  <input
                                      class="form-control me-sm-2"
                                      type="text"
                                      placeholder="Search"
                                  />
                                  <button
                                      class="btn btn-outline-success my-2 my-sm-0"
                                      type="submit"
                                  >
                                      Search
                                  </button>
                              </form>       -->
              </ul>
              <span><img src="" alt="user_profile_image" /></span>
            </div>
          </div>
        </nav>
      </header>
  <!-- header finsihed hadi javadi >>>>>>>>> -->
        <!-- Bootstrap JavaScript Libraries -->
     
    </body>
</html>
