{%load static%} {%include 'includes/pages/header.html'%}

<main class="container py-5">
  <div class="btn-group gap-4 py-2">
    <a href=""> <button class="btn btn-lg btn-success">Video</button> </a>
    <a href=""> <button class="btn btn-lg btn-danger">Photo</button> </a>
    <a href="{%url 'post_app:create_text'%}"><button class="btn btn-lg btn-dark text-white">Text</button> </a>
    <a href=""><button class="btn btn-lg btn-primary">Music</button> </a>
  </div>
</main>

{%include 'includes/pages/footer.html'%}
